/* formcursos.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d598a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #D3606E;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: #D3606E
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #f9c2d9;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #D3606E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

button a{
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #D3606E;
}

#preview {
  margin-top: 20px;
}

#previewConteudo {
  padding: 10px;
  background-color: #ffe6f2;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #f9c2d9;
}

#preview h2 {
  color: #D3606E;
}

#previewImagem {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid #f9c2d9;
}

#previewTitulo,
#previewDescricao,
#previewPreco {
  color: #D3606E;
}
