<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/escolha_user.css">
</head>
<body>
 <header>
        <section class="container">
            <nav class="nav">
                <a href="/index">
                    <img src="imagem/logo2.png" width="158px" height="60px">
                </a>
                <ul class="ul">
                    <a href="/">Home</a>
                    <a href="/sobrenos">Sobre nós</a>
                    <a href="/cursos">Cursos</a>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Fale conosco
                    </a>
                 </nav>
        </section>

<span>Escolha o tipo de Cadastro</span>
<section class="escolha">
    <div class="container2">
        <div class="user-option">
            <img src="imagem/icon_prof.png" alt="Professor" class="user-image">
            <button class="btn"><a href="/cadastroprof">Professor</a></button>
        </div>
        
        <div class="user-option">
            <img src="imagem/icon_comum.png" alt="Comum" class="user-image">
            <button class="btn"><a href="/cadastro">Aluno</a></button>
        </div>
    </div>
</section>
</body>
</html>


