<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criação de Curso</title>
  <link rel="stylesheet" href="/css/formcursos.css">
  
</head>
<body>
  <div class="container">
    <nav class="nav" style="width: 100%; display: flex; justify-content: center; align-items: center;" >
        <a href="/index">
            <img src="imagem/logo2.png"  width="158px" height="60px">
        </a></nav>
    <h1>Criar Novo Curso</h1>
    <form action="/cadastroCurso" method="post">
      <label for="titulo">Título do Curso:</label>
      <input type="text" id="titulo" name="nome_curso" required placeholder="Digite o título do curso">

      <label for="descricao">Descrição do Curso:</label>
      <textarea id="descricao" name="descricao_cursos" required placeholder="Descreva o curso"></textarea>

      <label for="categoria">categoria do curso:</label>
      <textarea id="categoria" name="categoria_curso" required placeholder="Digite a categoria do curso"></textarea>

      <label for="descricao">Tempo de duração:</label>
      <textarea id="duração" name="duraco_curso" required placeholder="Digite o tempo de duração"></textarea>


      <label for="preco">Preço do Curso (R$):</label>
      <input type="number" id="preco_curso" name="preco_curso" required placeholder="Ex: 55">
      <label for="preco">Imagem do Curso:</label>
      <input type="text" id="imagem_curso" name="image"  required placeholder="Ex: url da imagem">
      <button type="submit"> <a href="/perfil_prof">Criar Curso</a></button>
    </form>

    
  <script src="formcursos.js"></script>
</body>
</html>
