<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
         <link rel="stylesheet" href="/css/Gyu.css">
         <link rel="stylesheet" href="/css/faleConosco.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          </style>
          <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Sobre nós</title>
    </head>
    <body>
        <!--INICIO MENU DA PAGINA-->
        <header">
        <section class="container">
            <nav class="nav">
                <a href="/index">
                    <img src="imagem/logo2.png" width="158px" height="60px">
                </a>
                <ul class="ul">
                    <a href="/">Home</a>
                    <a href="/sobrenos">Sobre nós</a>
                    <a href="/cursos">Cursos</a>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Fale conosco
                    </a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header center">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <h5 class="modal-title" id="exampleModalLabel ">Fale conosco</h5>
                          </div>
                          <div class="modal-body">
                            <form class="col center">
                              <div class="col-md-4">
                                <label for="validationServer01" class="form-label">Nome</label>
                                <input type="text" class="form-control is-valid" id="validationServer01" value="" required>
                                <div class="valid-feedback">
                                  Perfeito!
                                </div>
                              </div>
                              <div class="col-md-4">
                                <label for="validationServerUsername" class="form-label">Email</label>
                                <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                                  <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Coloque seu e-mail
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4">
                                <label for="validationServer04" class="form-label">Assunto</label>
                                <select class="form-select is-invalid h-4 form-control-lg" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                  <option selected disabled value="">Escolha...</option>
                                  <option>Parceria</option>
                                  <option>Sugestão</option>
                                  <option>Golpe</option>
                                  <option>outros</option>
                                </select>
                                <div id="validationServer04Feedback" class="invalid-feedback">
                                  Coloque um assunto
                                </div>
                              </div>
                              <div class="col-12 mb-4 center">
                                <div class="form-check ">
                                  <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                  <label class="form-check-label" for="invalidCheck3">
                                    Aceite os termos
                                  </label>
                                  <div id="invalidCheck3Feedback" class="invalid-feedback">
                                    você deve aceitar os termos.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 center">
                                <button class="btn btn-primary" type="submit">Enviar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn" href="/cadastro">Entrar</a>
                    <nav class="close-icon" onclick="closeMenu()">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </nav>
                </ul>
                <nav class="menu-icon" onclick="openMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </nav>
            </nav>
        </section>
        <!--FIM DO MENU-->


            <!--INICIO DA PAGINA SOBRE NOS-->
            <section class="Sobre">
              <section class="sobre_container">
                  <section class="sobre_texto">
                      <h3>Sobre nós</h3>
                      <p>Devido ao machismo implantado em nossa sociedade a mais de décadas, a mulher ainda é vista como um “sexo frágil”, e lutam todos os dias por seus direitos, dentre eles está a igualdade no salário e valorização do seu trabalho.  

                        Nosso projeto tem como principal objetivo ajudar as mulheres no ramo empreendedor, fazendo com elas possam abranger seus conhecimentos e também para uma maior evolução na área desejada, de forma que essas possam ajudar outras mulheres com seu trabalho.  </p>
                      <p> Temos o desejo de fazer com que o trabalho seja um lugar de felicidade, pertencimento e significado.
                        Ajudamos nossas clientes a se adaptar ao mercado de trabalho, potencializar seus talentos e a criar uma cultura que valorize o bem-estar, a diversidade e a inovação. 
                        Nós temos muito orgulho do nosso projeto, e o nosso maior propósito é contribuir para um mundo melhor e mais justo. Um site de mulheres para mulheres, onde você sempre poderá se sentir segura e acolhida, nós somos a Women in Work!</p>
                     
                  </section>
                  <!--IMAGEM PRINCIPAL-->
                  <section class="sobre_img">
                      <img src="/imagem/sobre.jpg" alt="">
                  </section>
                  </section>
          </section>
          <!--INICIO DO FOOTER-->
        <footer class="footer">
            <article class="container">
                <nav class="links">
                    <a href="#"> <i class="fa fa-facebook icon"></i></a>
                    <a href="#"> <i class="fa fa-instagram icon"></i></a>
                    <a href="#"> <i class="fa fa-twitter icon"></i></a>
                    <a href="#"> <i class="fa fa-github icon" ></i></a>
                </nav>
                <p>WOMAN IN WORK</p>
            </article>
        </footer>
        <!--FIM DO FOOTER-->
